stepfunction.json
{
  "Comment": "A state machine that deploys an ASG and ensures minimum instances are running",
  "StartAt": "SetDefaults",
  "States": {
    "SetDefaults": {
      "Type": "Pass",
      "Result": {
        "param1": "default_value1",
        "param2": "default_value2"
      },
      "ResultPath": "$.defaults",
      "Next": "MergeParameters"
    },
    "MergeParameters": {
      "Type": "Pass",
      "Parameters": {
        "param1.$": "$.input.param1",
        "param2.$": "$.input.param2",
        "defaults.$": "$.defaults"
      },
      "ResultPath": "$.merged",
      "Next": "ApplyDefaults"
    },
    "ApplyDefaults": {
      "Type": "Pass",
      "Parameters": {
        "param1.$": "States.JsonMerge($.defaults, $.merged.param1, false)",
        "param2.$": "States.JsonMerge($.defaults, $.merged.param2, false)"
      },
      "ResultPath": "$.parameters",
      "Next": "DeployASG"
    },
    "DeployASG": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:DeployASGLambda",
      "Parameters": {
        "param1.$": "$.parameters.param1",
        "param2.$": "$.parameters.param2"
      },
      "Next": "InitializeCount"
    },
    "InitializeCount": {
      "Type": "Pass",
      "Result": {
        "count": 0,
        "instanceCount": 0
      },
      "ResultPath": "$",
      "Next": "GetNumberOfInstances"
    },
    "GetNumberOfInstances": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:GetNumberOfInstancesLambda",
      "Parameters": {
        "param1.$": "$.parameters.param1",
        "param2.$": "$.parameters.param2"
      },
      "ResultPath": "$.instanceCount",
      "Next": "CheckInstances"
    },
    "CheckInstances": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.instanceCount",
          "NumericEqualsPath": "$.runningInstancesCount",
          "Next": "Success"
        },
        {
          "Variable": "$.count",
          "NumericGreaterThanEquals": 10,
          "Next": "DeleteASG"
        }
      ],
      "Default": "IncrementCount"
    },
    "IncrementCount": {
      "Type": "Pass",
      "Result": {
        "count.$": "$.count + 1"
      },
      "ResultPath": "$.count",
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "GetNumberOfInstances"
    },
    "DeleteASG": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:DeleteASGLambda",
      "Next": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail",
      "Error": "InstanceDeploymentFailed",
      "Cause": "The ASG did not reach the minimum number of running instances"
    }
  }
}
