stepfunction.json
{
  "Comment": "A state machine that deploys an ASG and ensures minimum instances are running",
  "StartAt": "DeployASG",
  "States": {
    "DeployASG": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:DeployASGLambda",
      "Parameters": {
        "param1": "value1",
        "param2": "value2"
      },
      "Next": "InitializeCount"
    },
    "InitializeCount": {
      "Type": "Pass",
      "Result": {
        "count": 0,
        "instanceCount": 0
      },
      "ResultPath": "$",
      "Next": "GetNumberOfInstances"
    },
    "GetNumberOfInstances": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:GetNumberOfInstancesLambda",
      "Parameters": {
        "param1": "value1",
        "param2": "value2"
      },
      "ResultPath": "$.instanceCount",
      "Next": "CheckInstances"
    },
    "CheckInstances": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.instanceCount",
          "NumericEqualsPath": "$.runningInstancesCount",
          "Next": "Success"
        },
        {
          "Variable": "$.count",
          "NumericGreaterThanEquals": 10,
          "Next": "DeleteASG"
        }
      ],
      "Default": "IncrementCount"
    },
    "IncrementCount": {
      "Type": "Pass",
      "Result": {
        "count.$": "$.count + 1"
      },
      "ResultPath": "$.count",
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "GetNumberOfInstances"
    },
    "DeleteASG": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:DeleteASGLambda",
      "Parameters": {
        "param1": "value1",
        "param2": "value2"
      },
      "Next": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail",
      "Error": "InstanceDeploymentFailed",
      "Cause": "The ASG did not reach the minimum number of running instances"
    }
  }
}
